.first {
    background-color: red;
    min-height: 200px;
    
}

.second {
    background-color: blue;
        min-height: 200px;
}

.third {
    background-color: #FFFFFF;
    min-height: 100px;
}

.left_side_image {
    
}